{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [],
	"ignore": [
		"src/Carousel/Carousel.js",
		"src/Wikiplus/Wikiplus.js",
		"src/Wikiplus/Wikiplus-highlight.js"
	],
	"targets": {
		  "browsers": ["cover 99.5%, last 2 versions, Firefox ESR, not dead"]
	}
}