{
	"presets": [
		"@babel/preset-env",
		"@babel/preset-react"
	],
	"plugins": [],
	"ignore": [
		"scripts/",
		"src/Carousel/Carousel.js",
		"src/Carousel/Carousel-cfg.js",
		"src/Wikiplus/Wikiplus.js",
		"src/Wikiplus/Wikiplus-highlight.js",
		"src/Collapsible/Collapsible.js",
		"src/EasyArchive/EasyArchive-main.js",
		"src/RRD/RRD-main.js"
	],
	"targets": {
		"browsers": [
			"defaults, Chrome >= 70, Firefox ESR, not dead"
		]
	}
}