{
	"root": true,
	"extends": [
		"wikimedia/client-es5",
		"wikimedia/jquery",
		"wikimedia/mediawiki"
	],
    "ignorePatterns": [
        "dist/"
    ],
	"rules": {
		"no-jquery/no-global-selector": "off"
	},
    "globals": {
        "mw": "readonly",
        "mediaWiki": "readonly",
        "OO": "readonly",
        "wgULS": "readonly",
        "wgUVS": "readonly"
    }
}