{
    "env": {
        "es5": true
    },
    "plugins": [ "es5" ],
    "extends": [
        "eslint:recommended",
        "plugin:es5/no-es2015",
		"wikimedia/client-es5",
		"wikimedia/jquery",
		"wikimedia/mediawiki"
	],
    "ignorePatterns": [
        "dist/"
    ],
    "globals": {
        "mw": "readonly",
        "mediaWiki": "readonly",
        "OO": "readonly",
        "wgULS": "readonly",
        "wgUVS": "readonly"
    }
}